#quick-menu{
    float: right;
}

#quick-menu >li{
    float: left;
    padding-right: 14px;
    position: relative;
}

#login-info span,#login-info a{
    float: left;
    padding-left: 12px;
}

#header{
    height: 32px;
    background: #f2f2f2;
    font-size: 12px;
    border-bottom: 1px solid #e5e5e5;
}

#login-info span,#login-info a,#quick-menu li{
    height: 31px;
}

#login-info span,#login-info a,#quick-menu a{
    line-height: 32px;
    color: #999999;
}

#login-info a:hover,#quick-menu .menu:hover > a{
    color: red;
}

#quick-menu .iconfont{
    color: red;
    font-size: 12px;
}

#quick-menu .change-bg a:hover,#quick-menu .submenu li:hover{
    text-decoration: underline;
}

#quick-menu .change-bg:hover{
    background: #ffffff;
    border-color: transparent;
}

#quick-menu .submenu{
    position: absolute;
    left: -2px;
    line-height: 32px;
    text-align: center;
    border:1px solid #eeeeee;
    border-top: transparent;
}

#quick-menu .submenu a:hover,#quick-menu .change-bg >a:hover{
    color: red;
}

#quick-menu .submenu >li{
    cursor: pointer;
    background: #ffffff;
    display: none;
}

#quick-menu .menu:hover li{
    display: block;
    width:96px;
}

#quick-menu .menu img{
    display: none;
    border: solid;
    border-width: 1px;
    border-color: #999999;
    position: absolute;
    left: -79px;
    top: 30px;
}

#quick-menu .menu:hover img {
    display: block;
}

#quick-menu .sub-width{
    width: 115px;
}

#quick-menu .sub-wrapper{
    display: none;
    position: absolute;
    border: 1px solid #eee;
    left: -64.5px;
    padding: 10px 8px;
    border-top: transparent;
    width: 110px;
}

#quick-menu .sub-wrapper li{
    padding-right:8px;
    display: block;
    float: left;
}

#quick-menu >li:hover .sub-wrapper{
    display: block;
}
 #quick-menu .sub-wrapper li:hover a{
    color: red;
}

 #quick-menu .change-bg::after{
     content:'';
     width: 0;
     height: 0;
     border-width: 3px;
     border-style: solid;
     border-color: #999999 transparent transparent transparent;
     position: absolute;
     top: 50%;
     right: 6px;
 }

 #quick-menu .change-bg{
     border:1px solid transparent;
 }

 #quick-menu .change-bg:hover::after{
     transform:rotate(180deg);
     transform-origin: 3px 1.5px;
     transition: 0.2s linear;
 }

 #quick-menu .phone-arrow{
     border-width: 8px;
     position: absolute;
     border-color:transparent transparent #ffffff transparent ;
     width: 0;
     height: 0;
     border-style: solid;
     left: 30px;
     top: 16px;
 }

 #quick-menu .phone-dow{
     width: 175px;
     height: 227px;
     border: solid;
     border-width: 1px;
     border-color: #999999;
     position: absolute;
     left: -50px;
     top: 30px;
     box-shadow:1px 1px 6px 1px #999999;
 }

 #quick-menu .phone-hidden{
     display: none;
 }

 #quick-menu .phone:hover .phone-hidden{
     display:block;
 }

 #quick-menu .position{
     border-bottom: dotted;
     border-width: 1px;
 }

 #big-submenu{
     width: 1200px;
     height: 161px;
     position: absolute;
     left: -1118px;
 }

 #big-submenu .bigsub1{
     width: 455px;
 }

 #quick-menu .sub-float1 >li{
     width: 80px;
     float: left;
 }

 #big-submenu{
      display:none;
  }

 #quick-menu .change-bg >a:hover #big-submenu{
     display: block;
 }

#right-menu{
    background: #000000;
    right: 0;
    top: 0;
    bottom: 0;
    width: 35px;
    position: fixed;
}

#right-menu .right-wrapper{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 120px;
    line-height: 35px;
    text-align: center;
}

#right-menu .icon-tianmaoxingxiang1{
    color: #ffffff;
    font-size: 23px;
}

#right-menu .vip{
    width: 90px;
    height: 35px;
    background: #999999;
    position: absolute;
    top: 0px;
    right: 135px;
    text-align: center;
    line-height:35px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, right .3s ease;
}

#right-menu .right-wrapper:hover .vip{
    opacity: 1;
    right: 35px;
    visibility: visible;
}

#right-menu .right-arrow{
    background: #999999;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: -5px;
    transform: rotate(45deg);
}

#right-menu .right-wrapper{
    cursor: pointer;
}

#right-menu .right-wrapper:hover{
    background: #ff0000;
}