#quick-menu{
    float: right;
}

#quick-menu >li{
    float: left;
    padding-right: 14px;
    position: relative;
}

#login-info span,#login-info a{
    float: left;
    padding-left: 12px;
}

#header{
    height: 32px;
    background: #f2f2f2;
    font-size: 12px;
    border-bottom: 1px solid #e5e5e5;
}

#login-info span,#login-info a,#quick-menu li{
    height: 31px;
}

#login-info span,#login-info a,#quick-menu a{
    line-height: 32px;
    color: #999999;
}

#login-info a:hover,#quick-menu .menu:hover > a{
    color: red;
}

#quick-menu .iconfont{
    color: red;
    font-size: 12px;
}

#quick-menu .change-bg a:hover,#quick-menu .submenu li:hover{
    text-decoration: underline;
}

#quick-menu .change-bg:hover{
    background: #ffffff;
    border-color: transparent;
}

#quick-menu .submenu{
    position: absolute;
    left: -2px;
    line-height: 32px;
    text-align: center;
    border:1px solid #eeeeee;
    border-top: transparent;
}

#quick-menu .submenu a:hover{
    color: red;
}

#quick-menu .submenu li{
    cursor: pointer;
    background: #ffffff;
    display: none;
}

#quick-menu .menu:hover li{
    display: block;
    width: 96px;
}

#quick-menu .menu img{
    display: none;
    border: solid;
    border-width: 1px;
    border-color: #999999;
    position: absolute;
    left: -79px;
    top: 25px;
}

#quick-menu .menu:hover img {
    display: block;
}

#quick-menu .sub-width{
    width: 200px;

}

#quick-menu .sub-width li{
    float: left;
}

#quick-menu .sub-wrapper{
    display: none;
    position: absolute;
    border: 1px solid #eee;
    left: -67px;
    padding: 10px 8px;
}

#quick-menu .position{
    width: 110px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #999;
}

#quick-menu .position >li{
    padding-right: 5px;
    line-height: 22px;
}

#quick-menu >li:hover .sub-wrapper{
    display: block;
}
 #quick-menu .sub-wrapper li:hover a{
    color: red;
}

 #quick-menu .change-bg::after{
     content:'';
     width: 0;
     height: 0;
     border-width: 3px;
     border-style: solid;
     border-color: #999999 transparent transparent transparent;
     position: absolute;
     top: 50%;
     right: 6px;
 }

 #quick-menu .change-bg{
     border:1px solid transparent;
 }

 #quick-menu .change-bg:hover::after{
     transform:rotate(180deg);
     transform-origin: 3px 1.5px;
     transition: 0.2s linear;
 }